<div class="notification login-prompt sidebar-login-prompt visuallyhidden">
    If you are an instructor, <a target="_self" href="/login{{ site.baseurl | replace: 'instructors-preview', 'instructors' }}{{ page.url }}" class="login-link">log in</a> or <a target="_self" href="{{ site.auth-site-url }}/register-as-a-teacher?lang={{ language }}&redirect_to={{ site.baseurl | prepend: site.domain }}{{ page.url }}">register</a> to gain access to all the content in <em>{{ series-name }}</em> for free.
</div>
