// TABLES

table {
  td, th {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }

  th[rowspan], td[rowspan] {
    vertical-align: middle;
  }

  // Special classes for layout/refinement
  // .even-columns can be applied to a table or to a figure include
  &.even-columns,
  .figure.even-columns & {
    td:nth-of-type(1):nth-last-of-type(2) {
      width: 50%;
    }

    td:nth-of-type(1):nth-last-of-type(3),
    td:nth-of-type(2):nth-last-of-type(2),
    td:nth-of-type(3):nth-last-of-type(1) {
      width: 33%;
    }

    td:nth-of-type(1):nth-last-of-type(4),
    td:nth-of-type(2):nth-last-of-type(3),
    td:nth-of-type(3):nth-last-of-type(2),
    td:nth-of-type(4):nth-last-of-type(4) {
      width: 25%;
    }

    td:nth-of-type(1):nth-last-of-type(5),
    td:nth-of-type(2):nth-last-of-type(4),
    td:nth-of-type(3):nth-last-of-type(3),
    td:nth-of-type(4):nth-last-of-type(2),
    td:nth-of-type(5):nth-last-of-type(1) {
      width: 20%;
    }
  }

  @for $i from 1 through 19 {
    .figure.epub-first-column-#{$i} & td:nth-of-type(1) {
      width: 5% * $i;
    }
  }

  // extend even-columns for variable number of columns
  @for $i from 1 through 15 {
    .figure.even-columns-#{$i} & td {
      width: 100% / $i;
    }
  }

  // Let users specify cell text alignment
  &.align-right, .align-right {
    text-align: right;
  }

  &.align-left, .align-left {
    text-align: left;
  }

  &.align-center, .align-center {
    text-align: center;
  }

  &.vertical-align-middle, .vertical-align-middle {
    vertical-align: middle;
  }

  // Let users specify alignment of all cells with data
  &.data-align-right, .data-align-right {
    text-align: right;

    th {
      text-align: center;
    }

    td:first-child {
      text-align: left;
    }
  }

  // Let users add vertical rules between columns
  &.table-vertical-rules {
    td, th {
      border-right: 1px solid $color-light;

      &:last-of-type {
        border-right: 0;
      }
    }
  }

  // Let users divide two-column tables 50/50
  &.table-50-50 {
    // where rows have only two cells, space them 50/50
    td:nth-of-type(1):nth-last-of-type(2),
    td:nth-of-type(2):nth-last-of-type(1) {
      width: 50%;
    }
  }

  // Tables as flowcharts
  &.flowchart {
    border-collapse: separate;
    border-spacing: $line-height-default * 0.25;
    font-family: $font-text-secondary;

    td {
      border: 1px solid transparent;
      padding: $line-height-default * 0.25;
      text-align: center;
    }

    .flowchart-square {
      border-color: $color-mid;
    }

    .flowchart-round {
      border-color: $color-mid;
      border-radius: $button-border-radius;
    }
  }
}

// Let users force table elements to look like thead rows
.thead {
  text-align: center;
  font-weight: bold;
}
