// Dialogue

dt {
  font-weight: normal;
}

dl.dialogue {
  dt {
    // If the browser supports font-feature-settings,
    // make this caps-to-small-caps and small-caps.
    // Otherwise use font-variant: small-caps with
    // text-transform: lowercase. Note that these will
    // not work reliably in epub. There, we must use
    // text-transform: uppercase and a 0.8em font-size.
    
    font-feature-settings: "c2sc", "smcp";
    font-variant: small-caps;
    letter-spacing: 0.025em;
    min-width: $line-height-default * 2;
    padding-right: ($line-height-default * 0.25);
    text-transform: lowercase;
  }
  
  dd {
    margin: 0 0 0 ($line-height-default * 2.25); // match width + padding of dt
  }
}